<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<% include partials/header %>

  <body>
    <% include partials/nav %>

      <!-- <div class="container is-fluid"> -->
      <div class="columns">
        <div class="column is-3 top-space">

          <!-- ***********************************************************
                  left column first tile
************************************************************** -->


          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile is-child  bgwhite box">

                <figure class="image is-1by2">
                  <% if (spot[0].image) { %>
                    <img src="<%= spot[0].image %>">
                    <% } else { %>
                      <img src="../images/skatepark-default.png">
                      <% } %>
                </figure>

                <h1 class="title is-3"><%= spot[0].spot_name %></h1>


                <div class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Upvotes</p>
                      <p class="title">
                        <%= spot[0].upvotes %>
                      </p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Checkins</p>
                      <% var count = 0 %>
                        <% if (checkins) { %>

                          <% checkins.forEach(function(checkin) { %>
                            <% if (checkin.spot_id === spot[0].id) { %>
                              <% count++ %>
                                <% } %>
                                  <%  })  %>
                                    <p class="title">
                                      <%= count %>
                                    </p>
                                    <%  } else { %>
                                      <p class="title">
                                        <%= count %>
                                      </p>
                                      <% } %>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Sketchness</p>
                      <p class="title">
                        <%= spot[0].sketch_level %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <!-- ***********************************************************
                  left column second tile
************************************************************** -->



          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile is-child  bgwhite box">
                <div class="level">
                  <div class="level-item">
                    <form class="" action="/users/location" method="post">
                      <div class="field">
                        <input type="hidden" name="spot_id" value="<%=spot[0].id %>">
                        <input type="hidden" name="spot_name" value="<%=spot[0].spot_name %>">
                        <input type="hidden" name="checkin" value="true">
                        <button class="button is-primary is-outlined is-focus" type="submit">Checkin</button>
                      </div>
                    </form>
                  </div>


                  <div class="level-item">

                    <form class="" action="/users/location" method="post">
                      <div class="field">
                        <input type="hidden" name="spot_id" value="<%=spot[0].id %>">
                        <input type="hidden" name="spot_name" value="<%=spot[0].spot_name %>">
                        <input type="hidden" name="upvote" value="1">
                        <button class="button is-primary is-outlined is-focus" type="submit">Upvote</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>













          <!-- ***********************************************************
                  left column map tile
************************************************************** -->
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile is-child  bgwhite box">
                <!-- map styles to be moved to css -->
                <div id="map" class="map-single">  </div>
                <p class="subtitle is-6">
                  <%= spot[0].spot_location %>
                </p>

                  <!-- reassign feature variable passed in to points variable so it can be accessed in script tags below -->
                  <script>
                    var points = <%- feature %>
                  </script>



                <script>
                  // create new map ...options to set center point to where the map starts out

                  mapboxgl.accessToken = "pk.eyJ1IjoibWF3YXJyZW4iLCJhIjoiY2piZmdlODFuMnlzejJycGU2amoxdG44NyJ9.GlbjGsu0VqzCls45AniQgw";

                  var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v9',
                    center: points.features[0].geometry.coordinates,
                    zoom: 13
                  });

                  // track user location

                  map.addControl(new mapboxgl.GeolocateControl({
                    positionOptions: {
                      enableHighAccuracy: true
                    },
                    trackUserLocation: true
                  }));




                  /* add a layer to the map that consists of the point location information in geoJSON format */
                  map.on('load', function(e) {

                    map.addLayer({
                      "id": "locations",
                      "type": "symbol",
                      // geoJSON object containing location coordinates
                      "source": {
                        "type": "geojson",
                        "data": points // data passed in from map route (feature)
                      },
                      "layout": {
                        // can set icon image here
                        "icon-image": "icon",
                        "icon-allow-overlap": true,
                      }
                    })

                  });
                  //});

                  var nav = new mapboxgl.NavigationControl();
                  //map.addControl(nav, 'top-left');
                  // add markers to map
                  points.features.forEach(function(marker) {

                    // create a HTML element for each feature
                    var el = document.createElement('div');
                    el.className = 'marker';

                    // make a marker for each feature and add to the map
                    new mapboxgl.Marker(el)
                      .setLngLat(marker.geometry.coordinates)
                      .addTo(map);
                  });
                </script>

              </div>
            </div>
          </div>
        </div>


        <!-- ***********************************************************
          right column
************************************************************** -->

        <div class="column is-8">

          <div class="tile is-ancestor fixed">
            <div class="tile is-parent">
              <div class="tile is-child  bgwhite box">
          <div class="tabs is-left" id="nav-tabs">
            <ul>
              <a>
                <li id="photos">Photos</li>
              </a>
              <a>
                <li id="videos">Videos</li>
              </a>
              <a>
                <li id="checkins">Checkins</li>
              </a>
              <a>
                <li id="feed">Feed</li>
              </a>
              <a>
                <li id="add-comment">Speak</li>
              </a>
              <a>
                <li id="comments">Comments</li>
              </a>

            </ul>
          </div>
</div>
</div>
</div>

          <!-- ***********************************************************
          tab content to be displayed/hidden on click
************************************************************** -->

          <div class="get-content">

            <div class="photos top-space-lg hidden">
              <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <div class="tile is-child  bgwhite box">
              HEYO THIS IS PHOTOS CONTENT LALLALALALALALALALLALALALAALLALALALALALLALALALALALALAL"
            </div>
          </div>
        </div>
      </div>



            <div class="videos top-space-lg hidden">
              <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <div class="tile is-child  bgwhite box">
              HEYO THIS IS VIDEOS CONTENT"
            </div>
          </div>
        </div>
      </div>

            <!-- ***********************************************************
              tab content // show checkins
************************************************************** -->

            <div class="checkins top-space-lg hidden">
              <% if (checkins) { %>
                <% checkins.forEach(function(checkin) { %>
                  <% if (checkin.spot_id === spot[0].id) { %>
                    <div class="tile is-ancestor">
                      <div class="tile is-parent is-vertical is-8">
                        <div class="tile box is-child bgwhite">
                          <h3 class="title is-5">

                    <%= checkin.full_name %> Checked In %></h3>
                          <p>
                            <h3 class="subtitle is-6 grey"><%= checkin.updated_at %></h3></p>


                        </div>
                      </div>
                    </div>
                    <% } %>
                      <%  })  %>
                        <%  }  %>
            </div>

            <!-- ***********************************************************
                    tab content // show spot feed
************************************************************** -->

            <div class="feed top-space-lg hidden">

              <% comments.forEach(function(comment) { %>
                <% if (comment.spot_id === spot[0].id) { %>
                  <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical is-8">
                      <div class="tile box is-child bgwhite">
                        <h3 class="title is-5">

                      <%= comment.full_name %> said...
                    </h3>
                        <h3 class="subtitle is-6 grey">
                      <%= comment.updated_at %>
                    </h3>
                        <p>
                          <%= comment.comment %>
                      </div>
                    </div>
                  </div>
                  <%  }  %>
                    <%  })  %>








                      <% if (checkins) { %>
                        <% checkins.forEach(function(checkin) { %>
                          <% if (checkin.spot_id === spot[0].id) { %>
                            <div class="tile is-ancestor">
                              <div class="tile is-parent is-vertical is-8">
                                <div class="tile box is-child bgwhite">
                                  <h3 class="title is-5">

                      <%= checkin.full_name %> Checked In %></h3>
                                  <p>
                                    <h3 class="subtitle grey is-6"><%= checkin.updated_at %></h3></p>


                                </div>
                              </div>
                            </div>
                            <% } %>
                              <%  })  %>
                                <%  }  %>





            </div>


            <!-- ***********************************************************
                tab content // post a comment
************************************************************** -->

            <div class="add-comment top-space-lg hidden">

              <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <div class="tile is-child  bgwhite box">
              <form class="" action="/users/location" method="post">

                <div class="field">
                  <label class="label"><%= user[0].full_name %>, what are your thoughts?</label>
                  <div class="control">
                    <textarea class="textarea" id="comment" name="comment" placeholder="Comments..."></textarea>
                    <input type="hidden" name="spot_id" value="<%=spot[0].id %>">
                    <input type="hidden" name="spot_name" value="<%=spot[0].spot_name %>">
                  </div>
                </div>


                <div class="control">
                  <button class="button is-success is-outlined is-focus" type="submit">Add Comment</button>
                </div>

              </form>
            </div>
</div>
</div>
</div>
            <!-- ***********************************************************
                tab content // show comments
************************************************************** -->
            <div class="comments top-space-lg hidden">

              <% comments.forEach(function(comment) { %>
                <% if (comment.spot_id === spot[0].id) { %>
                  <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical is-8">
                      <div class="tile box is-child bgwhite">
                        <h3 class="title is-5">

                      <%= comment.full_name %> said...
                    </h3>
                        <h3 class="subtitle is-6 grey">
                      <%= comment.updated_at %>
                    </h3>
                        <p>
                          <%= comment.comment %>
                      </div>
                    </div>
                  </div>
                  <%  }  %>
                    <%  })  %>





            </div>

          </div>

        </div>



      </div>
      <!-- </div> -->



      <% include partials/footer %>
  </body>

</html>
