<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<% include partials/header %>

  <body>
    <% include partials/nav %>

      <!-- <div class="container is-fluid"> -->
      <div class="columns">

        <!-- ***********************************************************
                  left column
************************************************************** -->

        <div class="column is-3 top-space has-text-centered">


          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile is-child  bgwhite box has-text-centered">

                <figure class="image is-1by2" id="profilePhoto">
                  <% if (user[0].profile_photo) { %>
                    <img src="<%= user[0].profile_photo %>">
                    <% } else { %>
                      <img src="../images/user.png">
                      <% } %>
                </figure>
                <p class="top-space">
                  <h1 class="title is-3"><%= user[0].full_name %></h1>
                  <h1 class="subtitle is-6 grey"><%= user[0].email %></h1>
                </p>

                <!-- ***********************************************************
                        upload photo
        ************************************************************** -->
        <div class="level top-space">
          <div class="level-item">
                <div class="field">
                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" id="photoupload" type="file" name="resume">
                      <span id="filename" class="file-cta">
                        <span class="file-icon">
                          <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose a Photo...
                        </span>
                      </span>
                    </label>
                  </div>
                  <p class="top-space-sm">
                  <button class="button is-primary is-outlined is-focus" id="addProfphoto" onclick="addProfPhoto('media')">
                    Add Photo
                  </button>
                </p>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile is-child  bgwhite box">

                <div class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Followers</p>
                      <p class="title">
                        0
                      </p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Following</p>
                      <p class="title"> 0 </p>

                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading" id="profile-likes">Likes</p>

                        <% var count = 0 %>

                      </div>
                      <p class="title"> 0 </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <!-- ***********************************************************
          right column
************************************************************** -->

        <div class="column is-8">

          <div class="tile is-ancestor fixed is-8">
            <div class="tile is-parent">
              <div class="tile is-child  bgwhite box">

                <div class="tabs is-left" id="nav-tabs">
                  <ul>
                    <a>
                      <li id="photos">Photos</li>
                    </a>
                    <a>
                      <li id="videos">Videos</li>
                    </a>
                    <a>
                      <li id="feed">Feed</li>
                    </a>
                    <a>
                      <li id="comments">Comments</li>
                    </a>
                    <a>
                      <li id="edit">Edit</li>
                    </a>

                  </ul>
                </div>

              </div>
            </div>
          </div>
          <!-- ***********************************************************
          tab content to be displayed/hidden on click
************************************************************** -->

          <div class="get-content">

            <!-- ***********************************************************
            tab content // photos
  ************************************************************** -->

  <div class="photos top-space-lg hidden">
    <% if (photos) { %>
      <% photos.forEach(function(photo) { %>

          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile box is-child bgwhite">

                <figure class="image is-4by3">


                      <img src="<%= photo.photo %>">

                </figure>

                <div class="tile is-child">
                  <div class="columns">
                    <div class="column is-8">

                      <p class="top-space">
                      <h3 class="title is-5">

                  <%= photo.spot_name %>
                </h3></p>
                    <div class="subtitle is-6 grey">
                      <%= photo.updated_at %>
                    </div>

                  </div>
                  <div class="column">

                  <div class="tile is-child is-right">

                    <div class="tile is-ancestor">
                      <div class="tile is-parent">
                        <div class="tile is-child  bgwhite">
                          <p class="top-space">

                          <form class="" action="/users/location" method="post">
                            <div class="field">

                              <input type="hidden" name="like" value="1">
                              <button class="button is-primary is-outlined is-focus" type="submit">&nbsp;&nbsp; Like&nbsp;</button>
                            </div>
                          </form>
                        </p>
                        </div>

                        <div class="tile is-child  bgwhite">
                          <p class="top-space">
                          <form class="" action="/users/location" method="post">
                            <div class="field">

                              <input type="hidden" name="follow" value="1">
                              <button class="button is-primary is-outlined is-focus" type="submit">Follow</button>
                            </div>
                          </form>
                        </p>
                        </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>




              </div>
            </div>
          </div>

            <%  })  %>
              <%  }  %>

  </div>

            <!-- ***********************************************************
            tab content // videos
      ************************************************************** -->


            <div class="videos top-space-lg hidden">
              <% if (videos) { %>
                <% videos.forEach(function(video) { %>

                    <div class="tile is-ancestor">
                      <div class="tile is-parent">
                        <div class="tile box is-child bgwhite">

                          <!-- <figure class="image is-4by3"> -->

                            <video width="100%" controls>
                    <source src="<%= video.video %>" type="video/mp4">
                    </video>

                          <!-- </figure> -->

                          <div class="tile is-child">
                            <div class="columns">
                              <div class="column is-8">
                                <p class="top-space"
                                <h3 class="title is-5">

                            <%= video.spot_name %>
                          </h3></p>
                              <p class="subtitle is-6 grey">
                                <%= video.updated_at %>
                              </p>

                            </div>
                            <div class="column">

                            <div class="tile is-child is-right">

                              <div class="tile is-ancestor">
                                <div class="tile is-parent">
                                  <div class="tile is-child  bgwhite">

                                    <p class="top-space">
                                    <form class="" action="/users/location" method="post">
                                      <div class="field">

                                        <input type="hidden" name="like" value="1">
                                        <button class="button is-primary is-outlined is-focus" type="submit">&nbsp;&nbsp; Like&nbsp;</button>
                                      </div>
                                    </form>
                                  </p>
                                  </div>

                                  <div class="tile is-child  bgwhite">
                                    <p class="top-space">
                                    <form class="" action="/users/location" method="post">
                                      <div class="field">

                                        <input type="hidden" name="follow" value="1">
                                        <button class="button is-primary is-outlined is-focus" type="submit">Follow</button>
                                      </div>
                                    </p>
                                    </form>

                                  </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>




                        </div>
                      </div>
                    </div>

                      <%  })  %>
                        <%  }  %>

            </div>


            <!-- ***********************************************************
                    tab content // show user feed
************************************************************** -->
            <div class="feed top-space-lg hidden">
              <% if (comments) { %>
                <% comments.forEach(function(comment) { %>

                  <div class="tile is-ancestor">
                    <div class="tile is-parent">
                      <div class="tile is-child bgwhite box">
                        <h3 class="title is-5">
                          Commented on <%= comment.spot_name %>
                    </h3>
                        <h3 class="subtitle is-6 grey">
                      <%= comment.updated_at %>
                    </h3>
                        <p>
                          <%= comment.comment %>
                        </p>
                      </div>
                    </div>
                  </div>

                  <%  })  %>
                    <%  }  %>


                    <% if (photos) { %>
                      <% photos.forEach(function(photo) { %>

                          <div class="tile is-ancestor">
                            <div class="tile is-parent">
                              <div class="tile box is-child bgwhite">
                                <div class="columns">

                                  <div class="column is-6">

                                    <p>
                                      <h3 class="title is-5">

                                <%= photo.full_name %> added a photo
                              </h3></p>
                                    <p class="subtitle is-6 grey">
                                      <%= photo.updated_at %>
                                    </p>
                                  </div>
                                  <div class="column is-4">
                                    <figure class="image is-1by2">


                                          <img src="<%= photo.photo %>">
                                    </figure>

                                  </div>
                                  <div class="column">


                                    <div class="tile is-ancestor">
                                      <div class="tile is-parent is-vertical">
                                        <div class="tile is-child  bgwhite">


                                          <form class="" action="/users/location" method="post">
                                            <div class="field">

                                              <input type="hidden" name="like" value="1">
                                              <button class="button is-primary is-outlined is-focus" type="submit">&nbsp;&nbsp; Like&nbsp;</button>
                                            </div>
                                          </form>

                                        </div>

                                        <div class="tile is-child  bgwhite">

                                          <form class="" action="/users/location" method="post">
                                            <div class="field">

                                              <input type="hidden" name="follow" value="1">
                                              <button class="button is-primary is-outlined is-focus" type="submit">Follow</button>
                                            </div>
                                          </form>


                                        </div>
                                      </div>
                                    </div>





                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                            <%  })  %>
                              <%  }  %>








                      <% if (checkins) { %>
                        <% checkins.forEach(function(checkin) { %>

                          <div class="tile is-ancestor">
                            <div class="tile is-parent">
                              <div class="tile is-child bgwhite box">
                                <h3 class="title is-5">
                      Checked in at <%= checkin.spot_name %></h3>
                                <p>
                                  <h3 class="subtitle grey is-6"><%= checkin.updated_at %></h3></p>


                              </div>
                            </div>
                          </div>

                          <%  })  %>
                            <%  }  %>




                            <% if (videos) { %>
                              <% videos.forEach(function(video) { %>

                                  <div class="tile is-ancestor">
                                    <div class="tile is-parent">
                                      <div class="tile box is-child bgwhite">
                                        <div class="columns">

                                          <div class="column is-6">

                                            <p>
                                              <h3 class="title is-5">

                                          <%= video.full_name %> added a video
                                        </h3></p>
                                            <p class="subtitle is-6 grey">
                                              <%= video.updated_at %>
                                            </p>
                                          </div>
                                          <div class="column is-4">
                                            <figure class="image is-1by2">

                                              <video width="200" controls>
                                      <source src="<%= video.video %>" type="video/mp4">
                                      </video>

                                            </figure>

                                          </div>
                                          <div class="column">


                                            <div class="tile is-ancestor">
                                              <div class="tile is-parent is-vertical">
                                                <div class="tile is-child  bgwhite">


                                                  <form class="" action="/users/location" method="post">
                                                    <div class="field">

                                                      <input type="hidden" name="like" value="1">
                                                      <button class="button is-primary is-outlined is-focus" type="submit">&nbsp;&nbsp; Like&nbsp;</button>
                                                    </div>
                                                  </form>

                                                </div>

                                                <div class="tile is-child  bgwhite">

                                                  <form class="" action="/users/location" method="post">
                                                    <div class="field">


                                                      <input type="hidden" name="follow" value="1">
                                                      <button class="button is-primary is-outlined is-focus" type="submit">Follow</button>
                                                    </div>
                                                  </form>


                                                </div>
                                              </div>
                                            </div>





                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                    <%  })  %>
                                      <%  }  %>





            </div>



            <!-- ***********************************************************
                tab content // show user comments
************************************************************** -->
            <div class="comments top-space-lg hidden">
              <% if (comments) { %>
                <% comments.forEach(function(comment) { %>

                  <div class="tile is-ancestor">
                    <div class="tile is-parent">
                      <div class="tile is-child bgwhite box">
                        <h3 class="title is-5">
                          Commented on <%= comment.spot_name %>
                    </h3>
                        <h3 class="subtitle is-6 grey">
                      <%= comment.updated_at %>
                    </h3>
                        <p>
                          <%= comment.comment %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <%  })  %>
                    <%  }  %>
            </div>

            <!-- ***********************************************************
              tab content // show edit form
************************************************************** -->

            <div class="edit top-space-lg hidden">
              <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <div class="tile is-child bgwhite box">

                    <form class="" action="/users/success" method="post">
                      <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input class="input" type="text" id="full_name" name="full_name" value="<%= user[0].full_name %>" />
                          <input type="hidden" name="id" value="<%=user[0].id %>">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                          <input class="input" type="email" id="email" name="email" value="<%= user[0].email %>" multiple/>
                        </div>
                      </div>
                      <div class="field">
                        <div class="file">
                          <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a Profile Photo..
                  </span>
                </span>
              </label>
                        </div>
                      </div>

                      <div class="control">
                        <button class="button is-primary is-outlined is-focus" type="submit">Submit Changes</button>
                      </div>

                    </form>


                  </div>
                </div>
              </div>
            </div>




          </div>

        </div>



      </div>
      <!-- </div> -->



      <% include partials/footer %>
  </body>

</html>
